.contenedor{
    display:flex;
    gap:25px;
    padding:25px;
    min-height:100vh;
}

.panel{
    background:white;
    border-radius:18px;
    padding:20px;
    box-shadow:8px 8px 20px rgba(0,0,0,.45);
}

.izquierda{
    width:22%;
}

.centro{
    width:38%;
}

.derecha{
    width:40%;
}
