/*==================================================
 UCMI CONTENT BUILDER
==================================================*/

.cabecera-builder{
    background:#071426;
    color:white;
    padding:18px 35px;
    box-shadow:0 4px 14px rgba(0,0,0,.35);
}

.builder-titulo{
    margin:0;
    color:#FFD700;
    font-size:30px;
    font-weight:bold;
    letter-spacing:1px;
}

.builder-subtitulo{
    margin:6px 0 0 0;
    font-size:22px;
    font-weight:bold;
    color:white;
}

.builder-descripcion{
    margin:8px 0 0 0;
    font-size:14px;
    color:#d8d8d8;
}

.builder-info{
    margin-top:10px;
    font-size:13px;
    color:#bdbdbd;
}

.separador-builder{
    height:8px;
    background:#FFD700;
}
